.myphoto {
    object-fit: cover;
    object-position: top;
    width: 13rem !important;
    height: 17rem !important;
    border: 0.18rem solid #424242 !important;
    border-radius: 0.3rem;
}

.myproject {
    width: 100% !important;
    height: 100% !important;
    transition: all 0.5s ease-in;
}